@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<Department>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman    </li>
</ol>

<a href="/Department/DepartmentAdd" class="btn btn-primary p-3 m-4 text-right"> <h6> Yeni  Departman Ekle </h6>  </a>




<div class="row">
    @foreach (var item in Model)
    {
        <div class="card l-bg-cherry col-lg-5 m-4">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-university"></i> Departman ID :   @item.DepartmentID  </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">@item.DepartmentName</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <a href="/Department/DepartmentDetay/@item.DepartmentID" class="btn btn-outline-primary"> Detay </a>
                    </div>
                    <div class="col-4 text-right">
                        <a href="/Department/DepartmentUpdate/@item.DepartmentID" class="btn btn-warning"> Güncelle </a>
                        
                            @if (item.IsDelete)
                            {
                                <a href="/Department/ChangeStatusDepartment/@item.DepartmentID" id="Durum_@item.DepartmentID" class="btn btn-success">Aktif Yap</a>
                            }
                            else
                            {
                                <a href="/Department/ChangeStatusDepartment/@item.DepartmentID" id="Durum_@item.DepartmentID" class="btn btn-secondary">Pasif Yap</a>


                            }
                       
                       

                    </div>
                </div>

            </div>
        </div>
    }
</div>




<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function deleteBlog(id) {
        console.log(id)
        Swal.fire({
            title: 'Emin misiniz !',
            text: "Kategoriyi silmek istediğinize emin misiniz ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, SİL',
            cancelButtonText: "Vazgeç",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "post",
                    url: "/Category/CategoryDelete/" + id,
                    success: function (func) {
                        Swal.fire(
                            'SİLİNDİ ! ',
                            'Mesaj başarılı bir şekilde silindi.',
                            'success'
                        )
                        setTimeout('', 3000);
                        location.reload();
                    }
                }
                )
            }
        })
    }
</script>
