    
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SMT Ticari Otomosyon -  Admin</title>
    <link href="~/Web/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">SMT Ticari Otomosyon </a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
           
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item bg-danger" href="/Home/LogOut">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/Dashboard/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="/Todo/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-check"></i></div>
                            Yapılacaklar
                        </a>
                        <a class="nav-link" href="/istatistik/BasitTablolar">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Hızlı Bakış
                        </a>

                        <a class="nav-link" href="/Category/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                            Kategoriler
                        </a>

                        @if (User.IsInRole("C"))
                        {
                            <a class="nav-link" href="/Category/Deneme">
                                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                                Kategorilere göre ürünler
                            </a>
                        }


                        <a class="nav-link" href="/Cargo/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-bolt"></i></div>
                            Kargolar
                        </a>
                        <a class="nav-link" href="/QR/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-bolt"></i></div>
                            QR kod
                        </a>

                        <a class="nav-link collapsed" href="/Product/Index" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                            Ürünler
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Product/Index">Ürünler Listesi</a>
                                <a class="nav-link" href="/Product/ProductAdd">Yeni Ürün Ekle</a>
                                <a class="nav-link" href="/Product/ProductListPdf"> PDF & Excel </a>


                            </nav>
                        </div>




                        <a class="nav-link" href="/Department/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-university"></i></div>
                            Departmanlar
                        </a>
                        <a class="nav-link" href="/Concubine/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Cariler
                        </a>
                        <a class="nav-link" href="/Employee/Index">
                            <div class="sb-nav-link-icon"><i class="fas  fa-space-shuttle"></i></div>
                            Personeller
                        </a>
                        
                        <div class="sb-sidenav-menu-heading">Raporlar</div>
                        <a class="nav-link" href="/Sales/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                            Satışlar
                        </a>
                        <a class="nav-link" href="/Invoice/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                            Faturalar
                        </a>
                        <a class="nav-link" href="/Invoice/DinamikInvoice">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                            Dinamik Faturalar
                        </a>


                        <a class="nav-link" href="/istatistik/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
                            İstatistikler
                        </a>

                        <div class="sb-sidenav-menu-heading"> Örnek Yapılar  </div>

                        <a class="nav-link" href="/Galeri/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-camera-retro"></i></div>
                            Galeri
                        </a>

                        <a class="nav-link" href="/istatistik/SwertAlert">
                            <div class="sb-nav-link-icon"><i class="fas fa-bolt"></i></div>
                            SwertAlert 2
                        </a>

                        <a class="nav-link" href="/istatistik/AGgrid">
                            <div class="sb-nav-link-icon"><i class="fas fa-bolt"></i></div>
                            AG grid
                        </a>

                        <a class="nav-link bg-danger " href="/Home/LogOut">
                            <div class="sb-nav-link-icon  "><i class="fas fa-power-off"></i></div>
                            Çıkış Yap
                        </a>



                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">  </div>
                    SMT Ticari Otomosyon
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">  &copy; smtticariotomosyon 2022</div>
                        <div>
                            <a href="#"> Telif Hakkı Gizlidir !   </a>
                            &middot;
                            <a href="#">  &amp; SMT Ticari </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Web/dist/js/scripts.js"></script>
</body>
</html>
