
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/CariPanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/CariPanel/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"> Cari Panel </div>
            <div class="list-group list-group-flush">
                <a href="/ConcubinePanel/Index" class="list-group-item list-group-item-action bg-light text-dark">Profilim</a>
                <a href="/ConcubinePanel/Orders" class="list-group-item list-group-item-action bg-light text-dark">Siparişlerim</a>
                <a href="/ConcubinePanel/Cargo" class="list-group-item list-group-item-action bg-light">Kargo takip</a>
                <a href="/ConcubinePanel/IncomingMessage" class="list-group-item list-group-item-action bg-light text-dark"> Mesajlar</a>
                
                

                
                @*<a href="/ConcubinePanel/LogOut" class="list-group-item list-group-item-action  text-danger "> <b> Çıkıs Yap </b>  </a>*@
                <a href="/Home/LogOut" class="list-group-item list-group-item-action  text-danger "> <b> Çıkıs Yap </b>  </a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  
                </div>
            </nav>

            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->


      


    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/CariPanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/CariPanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>$("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });</script>

</body>

</html>
