@model IEnumerable<MvcOnlineTicariOtomasyon.Models.GroupBy>

@{
    ViewBag.Title = "BasitTablolar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Basit Tablolar</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="text-center"> - Tablolar -</h1>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content --> 
            <section class="content">
                @Html.Action("Cariler", "istatistik")
                <div class="container-fluid">

                    <div class="row">



                        <br />
                        <hr />
                        <br />

                        @Html.Action("Partial1", "istatistik")



                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Müşteri sehir tablosu</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Sehir</th>
                                                <th>  </th>
                                                <th style="width: 40px">Adet</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int sirano = 0;}
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td> @{sirano++;} @sirano </td>
                                                    <td> @item.City  </td>
                                                    <td>
                                                        @if (item.Count == 1)
                                                        {
                                                            <div class="progress progress-xs">
                                                                <div class="progress-bar bg-danger" style="width: 25%"></div>
                                                            </div>
                                                        }
                                                        @if (item.Count == 2)
                                                        {
                                                            <div class="progress progress-xs">
                                                                <div class="progress-bar bg-warning" style="width: 50%"></div>
                                                            </div>
                                                        }
                                                        @if (item.Count == 3)
                                                        {
                                                            <div class="progress progress-xs">
                                                                <div class="progress-bar bg-info" style="width: 75%"></div>
                                                            </div>
                                                        }
                                                        @if (item.Count >= 4)
                                                        {
                                                            <div class="progress progress-xs">
                                                                <div class="progress-bar bg-success" style="width: 90%"></div>
                                                            </div>
                                                        }

                                                    </td>
                                                    <td>



                                                        <span class="badge bg-dark"> <h5> @item.Count </h5>   </span>


                                                    </td>
                                                </tr>

                                            }



                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->

                            </div>

                        </div>

                    </div>

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>


