@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Entities.Concubine>

<table id="ProductsTBL" class="table table-hover m-2">
    <thead>
        <tr>
           
            <th scope="col">Adı </th>
            <th scope="col">Soyadı</th>
            <th scope="col">Sehir</th>
            <th scope="col">Mail </th>
            <th scope="col">Durum </th>

          


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.City</td>
                <td>@item.Mail</td>
                <td>
                    @if (item.IsDelete)
                    {
                        <span class="bg-secondary p-2 m-3"> Pasif </span>
                    }
                    else
                    {
                        <span class="bg-success p-2 m-3"> Aktif </span>
                    }
                </td>
                

                

            </tr>





        }



</table>

<br />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#ProductsTBL').dataTable({});
</script>

