@model MvcOnlineTicariOtomasyon.Models.Entities.Category

@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Kategori Ekle</h1>
<br />

@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    <br />
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">
                    @Html.Label("Kategori Başlığını Giriniz")
                    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                </th>
                <th scope="col"> <button class="btn btn-success">Kaydet</button> </th>
                <th scope="col"><a href="/Category/Index" class="btn btn-outline-primary"> Listeye Dön </a></th>

            </tr>
        </thead>
    </table>



}

